<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @receivable.debtor %> , you have to pay <%= @receivable.in_debt%></h1>
     <p><%= @content %></p>
  </body>
</html>